@font-face {
    font-family: 'Kimberlly';
    src: url('fonts/Kimberlly.otf');
}

* {
    margin: 0;
}

.header-text {
    font-family: 'Kimberlly';
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
    color: white;
}

.img-container {
    height: 22em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.main-img {
    height: 350px;
    background-color: black;
    opacity: 0.3;
    transition: 0.3s;
    object-fit: cover;
    border-radius: 5%;
}

.names {
    margin-top: 3%;
    color: #fff;
    font-family: 'Kimberlly';
    display: flex;
    justify-content: center;
}

.holly-name,
.jenny-name,
.jovo-name,
.ophelia-name {
    position: absolute;
    font-size: 2em;
    opacity: 0;
    transition: 0.3s;
}

body {
    background-color: #000;
}