@font-face {
    font-family: 'Kimberlly';
    src: url('../fonts/Kimberlly.otf');
}

body {
    background-color: #000;
}

.header-text {
    display: flex;
    justify-content: center;
    font-family: 'Kimberlly';
    color: #fff;
}

.content {
    height: 500px;
    display: flex;
    justify-content: center;
}